{% extends "network/layout.html" %}

{% block body %}
<div class="col-5 profile__wrapper">
    <div class="header__wrapper">
      <div class="cols__container cols-container">
        <div class="content__col">
            <div class="img-container">
            <img src="https://picsum.photos/id/134/200/200" alt="User image"/>
            <span></span>
            <h2>{{ profile }}</h2>
            <p>@{{ profile }}</p>
            <input type="hidden" value="{{user.username}}" name="follower">
            <input type="hidden" value="{{user_object.username}}" name="user">


        <form method="POST">
            {% csrf_token %}
            {% if user.is_authenticated and profile != request.user %}
                {% if is_following %}
                    <button class="btn btn-primary rounded-pill my-1 mx-1 py-1 py-1"  type="submit">
                        Unfollow 
                    </button>
                {% else %}
                    <button class="btn btn-primary rounded-pill my-1 mx-1 py-1 py-1" type="submit">
                        Follow 
                    </button>
                {% endif %}
            {% else %}
                <a href="{% url 'logout' %}" class="btn btn-primary rounded-pill my-1 mx-1 py-1 py-1">Logout</a>
            {% endif %}
        
        </form>

    <ul class="about">
            {% if profile.follows.count <= 1 %}
                <li><span>{{ profile.follows.count }}</span> Follower</li>
            {% else %}
                <li><span>{{ profile.follows.count }}</span> Followers</li>
            {% endif %}
            <li><span>{{ profile.fans.count }} </span>Following</li>
            {% if post_count <= 1 %}
                <li><span>{{post_count}} </span>Post</li>
            {% elif post_count >= 2 %}
                <li><span>{{post_count}} </span>Posts</li>
            {% endif %}
    </ul> 


        <div class="tweet-feed mt-2">
                                {% for post in profile_post %}
                                    <div class="tweet">
                                        <img src="https://picsum.photos/id/134/140/140" alt="author profile picture" class="tweet-author-image"/>
                                        <div class="tweet-feed-content">
                                            <div class="tweet-header">
                                                <a href="#" class="tweet-author-username">{{post.user}}</a>
                                                <div class="tweet-author-handle">@ {{post.user}}</div>
                                                <div class="tweet-dot">.</div>
                                                <div class="tweeted-time">{{post.created_at}}</div>
                                            </div>
                                            <div class="tweet-content">
                                                <div class="tweet-created-content">{{post.caption}}</div>
                                            </div>
                                            <div class="engagement-icons">
                                                <ul class="engagement-icons-ul mt-1">
                                                    <li><i class="fa-regular fa-comment"></i></li>
                                                    <li><i class="fa-solid fa-retweet"></i></li>
                                                    <li><i class="fa-regular fa-heart"></i></li>
                                                    <li><i class="fa-solid fa-arrow-up-from-bracket"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
        </div>
                    <!--  Create a pagination nav -->
                    <nav aria-label="Page navigation paginated_posts">
                        <ul class="pagination justify-content-center">
                            {% if paginated_posts.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{ paginated_posts.previous_page_number}}">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                            {% endif %}
                            {% for i in num_page %}
                                <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                            {% endfor %}
                
                            {% if paginated_posts.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ paginated_posts.next_page_number}}">Next</a></li>
                            {% endif %}
                        </ul>
                    </nav>  
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}